/* Загальні стилі для контейнера помилок */
.defaultError,
.notFound,
.networkError,
.serverError {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.defaultError p,
.notFound p,
.networkError p,
.serverError p {
  margin: 0;
  padding: 0;
}

.defaultError {
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid #ccc;
}

.notFound {
  background-color: #cbf784;
  color: rgb(55, 14, 71);
  border: none;
  border-radius: 25px;
}

.networkError {
  background-color: #d9f7ff;
  color: #007acc;
  border: 2px solid #007acc;
}

.serverError {
  background-color: #ffe6e6;
  color: #cc0000;
  border: 2px solid #cc0000;
}
